@import './base.css';




html {
    scroll-behavior: smooth;
    height: 100%;
  }

.hero-section{
    background-image: url(../img/HeroBg.gif);
}

.hero-image{
  /* border-style: solid;
  border-width: 20px;
   border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1; 
  border-radius: 50% !important; */
  border: 25px solid var(--bg-indigo);
  width: 316px;
  /* box-shadow: 0 0 40px var(--border-light-primary); */
  /* animation: shadow 0.5s ease-in-out infinite alternate; */

}
/* 
@keyframes shadow{
  0%{
    box-shadow: 0 0 20px var(--border-light-primary);
  }
  100%{
    box-shadow: 0 0 40px var(--border-light-primary);
  }
} */

.about-section{
    background-image: url(../img/AboutImage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.education-section{
  background-image: url(../img/EducationImage.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
}



.jumbtron{
  height: 30vh;
  background-image:  url("../img/HeroImage.jpg");
  background-size: cover;
  background-position: center;
  }
  .jumbtron .overlay{
  width:100%;
  height: 100%;
 
  /* background-color:#0c5f80; */
  background :rgba(1, 9, 24, 0.8);

}

@media (max-width: 768px){
  .jumbtron {
     height: 25vh;
  }
  .jumbtron-body{
    padding: 2rem !important;
  }
  .jumbtron-body h5{
    margin-top: 0 !important;
    font-size: 22px !important;
  }

  
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(var(--bs-light-rgb)) 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(var(--bs-info-rgb)) 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--bs-info-rgb)); 
  }

  /* Back to top button */

/* Scroll TO Top Button CSS */
#bctBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    
  }
  
  /* Responsive Style */

  @media only screen and (max-width: 600px) {
    .education-section  img{
            width: 280px !important;
            align-items: center;
    }

    .for-mob-text-center {
      text-align: center;
  }
  
}


 